/* Global stylesheet for Metabolic website */

body, html {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
	height: 100%;
	width: 100%;
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
	-webkit-transition:color 0.3s ease-in;  
   -moz-transition:color 0.3s ease-in;  
   -o-transition:color 0.3s ease-in;  
   transition:color 0.3s ease-in;  
}
a:hover {
	color: #f05557;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}


/* Navigation */

.navigation {
	width: 70px;
	background-color: transparent;
	min-width: 70px;
	max-width: 70px;
	height: 100%;
	position: fixed;
	padding: 0;
	left: -70px;	/* Should only appear after scroll past 1st slide */
	-webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

}

.side-nav li {
	text-align: center;
	margin: 20px;
}

/* Circular links */
.side-nav a {
	width: 20px;
	height: 20px;
	background: transparent;
	border: 3px solid #333;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 10px;
}

.side-nav a:visited {
}

.side-nav a:hover {
	background-color: #f05557;
	border: #f05557;
}

.side-nav .active a {
	background-color: #333;
}


/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:5%;
	padding-left: 80px;	/* To account for nav bar */
	padding-right: 30px;
	line-height: auto;
}



/* Slide 1 - Inspirational quotes shit */ 

#slide1{
	background-image: url('../img/slide1/bkg_01.jpg');
	transition: background-image 1s ease-in-out;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#333;
	height: 100%;
	width:100%;
	overflow: hidden;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}

#slide1 #logo {
	position: absolute;
	top: 5%;
	left: 60px;
	float: left;
	width: 150px;
}

#slide1 #quotewrapper {
	position: relative;
}
/*
#slide1 #quotecontainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 500px;
	height: 250px;
	padding: 20px;
	padding-top: 0;
	display: table;
	background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
}*/

#slide1 .block {
	text-align: center;
    margin: 20px;
    height: 300px;
}

#slide1 .block:before {
	content: '';
	display: inline-block;
	height: 200%;
	vertical-align: middle;
	margin-right: -0.25em;
}

#slide1 .quotes {
	display: inline-block;
	vertical-align: middle;
	width: 500px;
	padding: 20px;
	background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.7);
}

#slide1 h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 2em;
	color:#fff;
	font-weight: 300;
	/*text-shadow: 1px 2px 5px #000;*/
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	font-weight: 400;
}

/* Arrow buttons */
#slide1 .bgchange {
	/*width: 40px;
	height: 40px;*/
	width: 30px;
	height: auto;
	position: absolute;
	top: 45%;
}

/* Div with arrow to scroll down to slide 2*/
#slide1 #downarrow {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 10px;
    left: 48%;
    right: 50%;
    padding: 5px;
    padding-top: 12px;
}

#slide1 #downarrow img {
	width: 30px;
	height: 30px;
}

/* Left arrow */
#slide1 #left {
	left: 3%;
	float: left;
}

/* Right arrow */
#slide1 #right {
	right: 3%;
	float: right;
}


/* Slide 2 - About & Philosophy */ 

#slide2{
	background-color:#f05557;
	color:#ffffff;
	padding-top: 10%;
	padding-bottom: 10%;
	line-height: 1.2em;
}
#slide2 h1 {
	font-size: 2.2em;
	color:#ffffff;
	font-weight: 700;
	line-height: 1.2em;
}




/* Slide 3 - Activities Overview */ 

#slide3{
	background-color:#252525;
	background-image: url('../img/networkweb_faded.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	padding-left: 80px;
	line-height: 1.2em;
}
#slide3 h1 {
	font-size: 2em;
	letter-spacing: -1px;
	color:#fff;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 1.8em;
	color: #f05557;
	padding-bottom:10px;
	font-weight: 400;
}
#slide3 ul {
	padding-top: 2%;
}
#slide3 li:before {
	color:#f05557;
}

/* Captions under images in the Services detail slides */
.caption {
	font-style: italic;
	font-size: .8em;
}

/* Slide 4 - Services Detail 1 - Consulting */

#slide4{
	background-color:#3d3e3e;
	color:#fff;
	padding-left: 80px;
}
#slide4 h1 {
	font-size: 2em;
	color:#f05557;
	font-weight: 700;
	margin-top: 5%;
}
#slide4 h2 {
	font-size: 1.5em;
	color: #ffffff;
	font-weight: 300;
}
#slide4 img {
	width: 250px;
	height: auto;
	border-radius: 150px;
	margin-right: 20px;
}

/* Slide 5 - Services Detail 2 - Sensors */

#slide5{
	background-color:#7f7f80;
	background-image: url('../img/services/sensors.jpg');
	background-position: 0px -200px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#ffffff;
	padding-left: 80px;
}
#slide5 h1 {
	font-size: 2em;
	color:#f05557;
	font-weight: 700;
	text-shadow: 1px 1px 5px #222;
}
#slide5 h2 {
	font-size: 1.8em;
	color: #ffffff;
	padding-bottom:20px;
	font-weight: 300;
	text-shadow: 1px 2px 3px #000;
}

/* Slide 6 - Services Detail 3 - Symbioculture */

#slide6{
	background-color:#3d3e3e;
	color:#fff;
	padding-left: 80px;
	text-align: right;
}
#slide6 h1 {
	font-size: 2em;
	color:#f05557;
	font-weight: 700;
	margin-top: 5%;
}
#slide6 h2 {
	font-size: 1.5em;
	color: #fff;
	padding-bottom:20px;
	font-weight: 300;
}

#slide6 img {
	width: 250px;
	height: auto;
	border-radius: 150px;
	text-align: left;
	margin-left: 20px;
}


/* Slide 7 - Services Detail 4 - De Ceuvel */

#slide7{
	background-color:#efefef;
	background-image: url('../img/services/deceuvel.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#3d3e3e;
	padding-left: 80px;
}
#slide7 h1 {
	font-size: 2em;
	color:#f05557;
	font-weight: 700;
	text-shadow: 1px 1px 5px #222;
}
#slide7 h2 {
	font-size: 2em;
	color: #fff;
	padding-bottom:20px;
	font-weight: 300;
	text-shadow: 1px 1px 5px #222;
}


/* Slide 8 - Metabolic Team Overview */

#slide8{
	background-color:#fff;
	color:#7f7f80;
	margin-bottom: 3em;
	padding-bottom: 0;
	text-align: center;
	font-size: 1.3em;
	padding-left: 10%;
	padding-right: 10%;
}
#slide8 h1 {
	font-size: 2.5em;
	color:#f05557;
	font-weight: 700;
}
#slide8 h2 {
	font-size: 1.8em;
	color: #ffffff;
	padding-bottom:20px;
	font-weight: 400;
}

/* Slide 9 - Team detail */

#slide9{
	background-color:#fff;
	color:#3d3e3e;
	margin-top: 0;
	padding-top: 0;
	font-size: 1em;
	text-align: center;
}
#slide9 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	color:#3d3e3e;
	font-weight: 600;
}
#slide9 h2 {
	font-size: 1.8em;
	color: #3d3e3e;
	padding-bottom:20px;
	font-weight: 400;
}

#slide9 .teamgrid {
	margin-left: 0;
	margin-bottom: 3%;
	margin: 0 auto;
}

/* Div containing images to cross fade */
#slide9 .image {
	display: inline-block;
	position: relative;
	padding: 0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	margin-bottom: 10%;
	border-radius: 100px;
}


#slide9 .name h2 {
	font-size: 1.2em;
	color: #f05557;
	font-weight: 700;
	margin-bottom: 5px;
	padding: 0;
	line-height: 1em;
}

#slide9 .name {
	margin-top: 25%;
	margin-bottom: 25%;
	font-size: .9em;
	font-weight: 300;
	background-color: #fff;
	color: #3d3e3e;
}

#slide9 .memberphoto {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

/* Slide down div containing member information */
#slide9 #memberinfo {
	text-align: left;
	background: #252525;
	color: #fff;
	left: 0;
	right: 0;
	padding: 5%;
	margin: 0 auto;
	margin-bottom: 2%;
	display: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#slide9 h2 {
	color: #fff;
}

#slide9 #contactinfo {
	font-size: .8em;
	text-align: left;
}

#slide9 #contactinfo h3 {
	padding: 0;
	font-weight: 400;
	margin-left: -10px;
	text-align: left;
	color: #fff;
}

#slide9 #contactinfo a, a:visited {
	color: #fff;
	font-style: italic;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

#slide9 #contactinfo a:hover {
	color: #f05557;
}

#slide9 #contactinfo #detailphoto {
	width: 150px;
	height: auto;
}

/* Labels for contact info */
#slide9 #contactinfo .label {
	font-weight: 700;
	font-size: .6em;
	color: #f05557;
	background: none;
	text-transform: uppercase;
	text-align: left;
}

#slide9 #contactinfo .info {
	text-align: left;
	float: left;
}


/* Slide 10 - Project Portfolio */

#slide10 {
	background-color: #252525;
	color: #fff;
}

#slide10 h1 {
	color: #fff;
	font-size: 2em;
	font-weight: 700;
	display: inline;
}

#slide10 h2 {
	font-size: 1.5em;
	color: #f05557;
	display: inline;
}

#slide10 #title {

	margin-left: 20px;
}

#slide10 .project-orbit {
	margin-bottom: 0;
	margin-top: 20px;
}

#slide10 #projslidecontainer, #projdetail.row {
	height: 400px;
}

#slide10 .projecttext {
	margin-top: 50px;
}

/* Container for Orbit slideshow */
#slide10 .project-orbit iframe {
	width: 100%;
	height: auto;
	min-height: 380px;
}

/* Orbit slideshow for projects */
#slide10 .orbit-container{
	height: 400px;
}

#slide10 .orbit-container .row {
	margin-left: 50px;
	margin-right: 50px;
}

#slide10 .project-slideshow-div {
	overflow: auto;
	height: 400px;
}

/* Hide all project slideshows except the first one */
#slide10 #show1, #show2, #show3, #show4, #show5, #show6, #show7 {
	display: none;
}

#slide10 .orbit-timer, .orbit-slide-number, .orbit-bullets {
	display: none;
}

#slide10 .orbit-bullets li.active {
	background: #f05557;
}

#slide10 #projectdetail .projectimg {
	margin-bottom: 20px;
}

/* Side scrolling div to hold projects */
#slide10 #project_container {
	width: 100%;
	white-space: nowrap;
	text-align: center;
	margin-top: 10px;
	overflow: scroll;
}

/* Project divs within container */
#slide10 .project {
	display: inline-block;
	width: 100px;
	height: 100%;
	margin-right: 10px;
	position: relative;
}

#slide10 .project .name {
	color: #fff;
	width: 100%;
	height: auto;
	opacity: 0;
	text-align: center;
	vertical-align: middle;
	/* Vertical centering */
	margin: auto;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

#slide10 .project .name h2 {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	color: #fff;
	margin-top: 40%;
	margin-bottom: 30%;
	font-size: .8em;
	font-weight: 400;
	text-transform: uppercase;
}

#slide10 .project img {
	width: 200px;
	height: auto;
	border-radius: 100px;
}

#slide10 #projecttext {
	margin-top: 100px;
}

/* Slide 11 - Contact */ 

#slide11{
	background-color:#f05557;
	color:#ffffff;
	padding-left: 80px;
	letter-spacing: 0px;
	text-align: center;
	line-height: 1.5em;
}
#slide11 h1 {
	font-size: 2em;
	color:#ffffff;
	font-weight: 700;
	line-height: 1.2em;
}
#slide11 h2 {
	font-size: 1.8em;
	color: #ffffff;
	font-weight: 700;
}
#slide11 h3{
	color: #fff;
	font-size: 1.3em;
}

#slide11 .row {
	text-align: left;
}
#slide11 a, a:visited {
	font-style: italic;
	color: #fff;
}
#slide11 a:hover {
	color: #3d3e3e;
}

#slide11 .contacticon {
	width: 40px;
	height: auto;
	margin-right: 15px;
}