/* Global stylesheet for Metabolic website */

body, html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
	height: 100%;
	width: 100%;
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
	-webkit-transition:color 0.3s ease-in;  
   -moz-transition:color 0.3s ease-in;  
   -o-transition:color 0.3s ease-in;  
   transition:color 0.3s ease-in;  
}
a:hover {
	color: #f05557;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}


/* Navigation */

.navigation {
	width: 70px;
	background-color: transparent;
	min-width: 70px;
	max-width: 70px;
	height: 100%;
	position: fixed;
	padding: 0;
	left: -70px;	/* Should only appear after scroll past 1st slide */
	-webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

}

.side-nav li {
	text-align: center;
	margin: 20px;
}

/* Circular links */
.side-nav a {
	width: 20px;
	height: 20px;
	background: transparent;
	border: 3px solid #333;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 10px;
}

.side-nav a:visited {
}

.side-nav a:hover {
	background-color: #f05557;
	border: #f05557;
}

.side-nav .active a {
	background-color: #333;
}


/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:5%;
	padding-left: 80px;	/* To account for nav bar */
	padding-right: 30px;
	line-height: auto;
}



/* Slide 1 - Inspirational quotes shit */ 

#slide1{
	background-image: url('../img/slide1/bkg_d_01.jpg');
	transition: background-image 1s ease-in-out;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#333;
	height: 100%;
	width:100%;
	overflow: hidden;
	text-align: center;
	padding-left: 0px;
	position: relative;
}

#slide1 #quotecontainer {
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 7%;
	width: 70%;
	height: 50%;
	margin: auto;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;

}

#slide1 h1 {
	font-size: 4em;
	color:#fff;
	font-weight: 700;
	text-shadow: 1px 2px 5px #000;
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	padding-bottom:20px;
	font-weight: 400;
}

/* Arrow buttons */
#slide1 .bgchange {
	/*width: 40px;
	height: 40px;*/
	width: 4%;
	height: auto;
	position: absolute;
	top: 45%;
}

/* Left arrow */
#slide1 #left {
	left: 3%;
	float: left;
}

/* Right arrow */
#slide1 #right {
	right: 3%;
	float: right;
}


/* Slide 2 - About & Philosophy */ 

#slide2{
	background-color:#f05557;
	color:#ffffff;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	color:#ffffff;
	font-weight: 700;
	line-height: 1.2em;
}
#slide2 h2 {
	font-size: 3em;
	color: #ffffff;
	font-weight: 700;
}

#slide2 #philosophy {
	padding-top: 10%;
}




/* Slide 3 - Activities Overview */ 

#slide3{
	background-color:#252525;
	background-image: url('../img/networkweb_faded.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	padding-left: 80px;
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	color:#fff;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #f05557;
	padding-bottom:10px;
	font-weight: 400;
}
#slide3 ul {
	padding-top: 2%;
}
#slide3 li:before {
	color:#f05557;
}

/* Captions under images in the Services detail slides */
.caption {
	font-style: italic;
	font-size: .8em;
}

/* Slide 4 - Services Detail 1 - Consulting */

#slide4{
	background-color:#3d3e3e;
	color:#fff;
	padding-left: 80px;
}
#slide4 h1 {
	font-size: 3em;
	color:#f05557;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
	font-weight: 400;
}
#slide4 img {
	width: 300px;
	height: auto;
	border-radius: 150px;
	margin-right: 20px;
}

/* Slide 5 - Services Detail 2 - Sensors */

#slide5{
	background-color:#7f7f80;
	background-image: url('../img/services/sensors.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#ffffff;
	padding-left: 80px;
}
#slide5 h1 {
	font-size: 3em;
	color:#f05557;
	font-weight: 700;
	text-shadow: 1px 1px 5px #222;
}
#slide5 h2 {
	font-size: 2em;
	color: #ffffff;
	padding-bottom:20px;
	font-weight: 400;
	text-shadow: 1px 2px 3px #000;
}

/* Slide 6 - Services Detail 3 - Symbioculture */

#slide6{
	background-color:#3d3e3e;
	color:#fff;
	padding-left: 80px;
	text-align: right;
}
#slide6 h1 {
	font-size: 2.8em;
	color:#f05557;
	font-weight: 700;
}
#slide6 h2 {
	font-size: 2em;
	color: #fff;
	padding-bottom:20px;
	font-weight: 400;
}

#slide6 img {
	width: 300px;
	height: auto;
	border-radius: 150px;
	text-align: left;
	margin-left: 20px;
}


/* Slide 7 - Services Detail 4 - De Ceuvel */

#slide7{
	background-color:#efefef;
	background-image: url('../img/services/deceuvel.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#3d3e3e;
	padding-left: 80px;
}
#slide7 h1 {
	font-size: 3em;
	color:#f05557;
	font-weight: 700;
	text-shadow: 1px 2px 5px #000;
}
#slide7 h2 {
	font-size: 2em;
	color: #fff;
	padding-bottom:20px;
	font-weight: 400;
	text-shadow: 1px 1px 5px #222;
}


/* Slide 8 - Metabolic Team Overview */

#slide8{
	background-color:#fff;
	color:#7f7f80;
	margin-bottom: 3em;
	padding-bottom: 0;
	text-align: center;
	font-size: 1.3em;
}
#slide8 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	color:#f05557;
	font-weight: 700;
}
#slide8 h2 {
	font-size: 2em;
	color: #ffffff;
	padding-bottom:20px;
	font-weight: 400;
}

#slide8 .row {
	margin: 0;
	padding-left: 0;
}

#slide8 #teamphoto {
	margin-bottom: 20px;
}


/* Slide 9 - Team detail */

#slide9{
	background-color:#fff;
	color:#3d3e3e;
	margin-top: 0;
	padding-top: 0;
	font-size: 1em;
	text-align: left;
}
#slide9 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	color:#3d3e3e;
	font-weight: 700;
}
#slide9 h2 {
	font-size: 1.8em;
	color: #3d3e3e;
	padding-bottom:20px;
	font-weight: 400;
}

#slide9 .teamgrid {
	margin-left: 0;
	margin-bottom: 3%;
}

/* Div containing images to cross fade */
#slide9 .image {
	display: inline-block;
	position: relative;
	padding: 0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	margin-bottom: 10%;
}

#slide9 .name {
	margin-top: 25%;
	margin-bottom: 25%;
	font-size: 1em;
	background-color: #fff;
	color: #3d3e3e;
}

#slide9 .name h2 {
	font-size: 1.2em;
	color: #f05557;
	font-weight: 700;
	margin-bottom: 5px;
	padding: 0;
	line-height: 1em;
}

#slide9 .memberphoto {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

/* Slide down div containing member information */
#slide9 #memberinfo {
	background: #252525;
	color: #fff;
	left: 0;
	right: 0;
	padding: 5%;
	margin: 0;
	margin-bottom: 2%;
	display: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#slide9 h2 {
	color: #fff;
}

#slide9 #contactinfo {
	font-size: .8em;
	text-align: left;
}

#slide9 #contactinfo h3 {
	padding: 0;
	font-weight: 400;
	margin-left: -10px;
	text-align: left;
	color: #fff;
}

#slide9 #contactinfo a, a:visited {
	color: #fff;
	font-style: italic;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

#slide9 #contactinfo a:hover {
	color: #f05557;
}

#slide9 #contactinfo #detailphoto {
	width: 150px;
	height: auto;
}

/* Labels for contact info */
#slide9 #contactinfo .label {
	font-weight: 700;
	font-size: .6em;
	color: #f05557;
	background: none;
	text-transform: uppercase;
	text-align: left;
}

#slide9 #contactinfo .info {
	text-align: left;
	float: left;
}


/* Slide 10 - Project Portfolio */

#slide10 {
	background-color: #252525;
	color: #fff;
}

#slide10 h1 {
	color: #fff;
}

#slide10 h2 {
	font-size: 1.5em;
	color: #f05557;
}

/* Container for Orbit slideshow */
#slide10 #projslidecontainer {
}

/* Orbit slideshow for projects */
#slide10 .orbit-container .row{
	margin-left: 50px;
	margin-right: 50px;
}

#slide10 .orbit-timer, .orbit-slide-number {
	display: none;
}

#slide10 .orbit-bullets li.active {
	background: #f05557;
}

#slide10 #projectdetail .projectimg {
	margin-bottom: 20px;
}

/* Side scrolling div to hold projects */
#slide10 #project_container {
	width: 100%;
	white-space: nowrap;
	text-align: center;
}

/* Project divs within container */
#slide10 .project {
	display: inline-block;
	width: 100px;
	height: 100%;
	margin-right: 10px;
	position: relative;
}

#slide10 .project .name {
	color: #fff;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 100%;
	opacity: 0;
	text-align: center;
}

#slide10 .project .name h2 {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	color: #fff;
	margin-top: 40%;
	margin-bottom: 30%;
}

#slide10 .project img {
	width: 200px;
	height: auto;
	border-radius: 100px;
}

/* Slide 11 - Contact */ 

#slide11{
	background-color:#f05557;
	color:#ffffff;
	padding-left: 80px;
	letter-spacing: 0px;
}
#slide11 h1 {
	font-size: 3.8em;
	color:#ffffff;
	font-weight: 700;
	line-height: 1.2em;
}
#slide11 h2 {
	font-size: 2em;
	color: #ffffff;
	font-weight: 700;
}
#slide11 h3{
	color: #fff;
	font-size: 1.3em;
}
#slide11 a, a:visited {
	font-style: italic;
	color: #fff;
}
#slide11 a:hover {
	color: #3d3e3e;
}

#slide11 .contacticon {
	width: 40px;
	height: auto;
	margin-right: 15px;
}