/* Medium screen stylesheet for Metabolic website */
@media screen and (max-width: 1024px) {

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	font-size: 3em;
}

#slide1 h2 {
	font-size: 1.5em;
}


#slide2 h1 {
	font-size: 3em;
}
#slide2 h2 {
	font-size: 1.8em;
}
#slide2 #philosophy {
	padding-top: 2%;
}


#slide3 h1 {
}
#slide3 h2 {
}
#slide4 h1 {
}
#slide4 h2 {
}

}
